<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Http to https redirect" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
                <rule name="Deny access to anything beginning with ." stopProcessing="true">
                    <match url="(^|/)\..*" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{SCRIPT_FILENAME}" matchType="IsDirectory" />
                        <add input="{SCRIPT_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Redirect missing urls to index.php" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Frame-Options" />
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".bak" allowed="false" />
                    <add fileExtension=".bat" allowed="false" />
                    <add fileExtension=".sql" allowed="false" />
                    <add fileExtension=".fla" allowed="false" />
                    <add fileExtension=".md" allowed="false" />
                    <add fileExtension=".psd" allowed="false" />
                    <add fileExtension=".ini" allowed="false" />
                    <add fileExtension=".log" allowed="false" />
                    <add fileExtension=".sh" allowed="false" />
                    <add fileExtension=".inc" allowed="false" />
                    <add fileExtension=".swp" allowed="false" />
                    <add fileExtension=".dist" allowed="false" />
                </fileExtensions>
                <denyUrlSequences>
                    <add sequence="composer.json" />
                    <add sequence="composer.lock" />
                    <add sequence="~" />
                </denyUrlSequences>
                <verbs>
                    <remove verb="HEAD" />
                    <remove verb="POST" />
                    <remove verb="GET" />
                    <remove verb="OPTIONS" />
                    <remove verb="TRACE" />
                    <remove verb="PUT" />
                    <remove verb="PATCH" />
                    <remove verb="DELETE" />
                    <remove verb="CONNECT" />
                </verbs>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>